.title {
	font-size: 20px !important;
	font-style: normal !important;
	font-weight: 900 !important;
	text-transform: normal !important;
	color: white;
	line-height: 1.5em !important;
}

a img {
	border-style: none;
}