.title {
	font-size: 20px !important;
	font-style: normal !important;
	font-weight: 900 !important;
	text-transform: normal !important;
	color: white;
	line-height: 1.5em !important;
}

a img {
	border-style: none;
}

.bounded {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.noListPoint {
	margin-left: 0px;
	list-style-type: none;
}

.adminGameView {
	border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	padding: 0.2em;
	background: url("images/ui-bg_highlight-soft_100_eeeeee_1x100.png")
		repeat-x scroll 50% top #EEEEEE;
	border: 1px solid #DDDDDD;
	color: #333333;
	font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
	font-size: 1.1em;
	height: 100px;
}

.campaignTitle {
	font-size: 50px;
	text-align: center;
}

.ugLink {
	color: blue !important;
	font-size:15px;
	font-weight: 900;
}