.searchBox {
	clear: both;
	width: 400px;
	display: inline-block;
}

.tabsStyle {
	height: 34px;
}

.textBox {
	height: 100%;
}

#k {
	font-size: 20px;
	width: 80%;
	height: 100%;
}

.searchButton {
	background-color: transparent;
	border: 0;
	color: white;
	font-size: 20px !important;
	width: 15%;
	height: 100%;
}

.tagResults {
	position: absolute;
	top: 25px;
	left: 2px;
	text-align: left;
}

.tagResults div:HOVER {
	text-decoration: underline;
}

.tagResults div {
	padding: 2px;
	background: white;
	color: black;
	cursor: pointer;
	padding: 2px;
	font-size: 20px;
	min-width: 325px;
}